
.card{
    width: 50rem;
    height: 37rem;
    margin-left: 12rem;
}

.game-image{
    @include custom-image(50rem,30rem,#2E10FC,4rem);
    background-image: url("https://larepublica.pe/resizer/JBWEcekaooeuNeGbHYmlR9Q-L7M=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/HFO2JP7PN5FRXE7JWEAQDNC5FA.png");
    background-size: cover;
}
.game-info{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $color-black;
}