// Game card HomePage
.card {
    width: 45rem;
    height: 37rem;
    margin-left: 10rem;
    margin-top: 3rem;
    cursor: pointer;
}

.game-image {
    @include custom-image(45rem, 25rem, #2E10FC, 4rem);
    background-image: url("https://larepublica.pe/resizer/JBWEcekaooeuNeGbHYmlR9Q-L7M=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/HFO2JP7PN5FRXE7JWEAQDNC5FA.png");
    background-size: cover;
    box-shadow: 0 0.5px 2rem red;
}

.game-info {
    @include game-info(2.5rem);
}

// Game card latest releases
.card-latest-releases {
    width: 70rem;
    height: 75rem;
    margin-left: 12rem;
    font-size: 2.5rem;
    margin-top: 4.5rem;
    cursor: pointer;
}

<<<<<<< HEAD
.game-image-latest-releases {
    @include custom-image(70rem, 62rem, #2E10FC, 4rem);
    background-image: url("https://media.playstation.com/is/image/SCEA/hollow-knight-voidheart-edition-normalbanner-01-ps4-us-02oct2018?$native_nt$");
=======
.game-image-latest-releases{
    @include custom-image(70rem,62rem,#2E10FC,4rem);
>>>>>>> 1b0ac966267d792614982638e2338496288da506
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
<<<<<<< HEAD
    box-shadow: 0 0.5px 2rem blue;
}

.game-description {
=======
    background-image:  url("https://larepublica.pe/resizer/JBWEcekaooeuNeGbHYmlR9Q-L7M=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/HFO2JP7PN5FRXE7JWEAQDNC5FA.png");
}

.game-description{
>>>>>>> 1b0ac966267d792614982638e2338496288da506
    color: white;
    font-size: 2.5rem;
    width: 65rem;
    margin-bottom: 4rem;
}

.game-info-latest-releases {
    margin-top: 4rem;
    text-align: center;
}

// GameCard sale carousel 
.card-sale-carousel {
    background-color: blueviolet;
    background-image: url("https://media.playstation.com/is/image/SCEA/hollow-knight-voidheart-edition-normalbanner-01-ps4-us-02oct2018?$native_nt$");
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    background-size: cover;
    }