// Game card HomePage
.card {
    width: 45rem;
    height: 37rem;
    margin-left: 10rem;
    margin-top: 3rem;

}

.game-image {
    @include custom-image(45rem, 25rem, #2E10FC, 4rem);
    background-image: url("https://larepublica.pe/resizer/JBWEcekaooeuNeGbHYmlR9Q-L7M=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/HFO2JP7PN5FRXE7JWEAQDNC5FA.png");
    background-size: cover;
    box-shadow: 0 0.5px 2rem red;
    cursor: pointer;
    transition: 0.5s;
}
.game-image:hover {
    @include custom-image(47rem, 27rem, #2E10FC, 4rem);
}



.game-info {
    @include game-info(2.5rem);
}

.info-footer {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    padding-right: 1rem;
    color: #66698c;
}

// Game card admin list
.game-card-admin {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    width: 50%;
}

.game-card-admin-highlight {
    padding-top: 1.5rem;
}

// Game card publisher list
.game-card-publisher {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    width: 70%;
}

.game-card-publisher-icons {
    padding-top: 1.5rem;
}

// Game card latest releases
.card-latest-releases {

    width: 70rem;
    height: 75rem;
    margin-left: 12rem;
    font-size: 2.2rem;
    margin-top: 5rem;

}


.game-image-latest-releases {
    @include custom-image(70rem, 62rem, #2E10FC, 4rem);
    background-image: url("https://media.playstation.com/is/image/SCEA/hollow-knight-voidheart-edition-normalbanner-01-ps4-us-02oct2018?$native_nt$");
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0.5px 2rem blue;
    cursor: pointer;
    transition: 0.5s;
    // background-position: ;
}

.game-image-latest-releases:hover {
    @include custom-image(75rem, 67rem, #2E10FC, 4rem);
}


.game-description {
    color: white;
    font-size: 2.5rem;
    width: 65rem;
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.game-info-latest-releases {
    margin-top: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

// GameCard sale carousel 
.card-sale-carousel {
    //background-image: url("https://media.playstation.com/is/image/SCEA/hollow-knight-voidheart-edition-normalbanner-01-ps4-us-02oct2018?$native_nt$");
    margin-top: 3rem;
    margin-left: 9rem;
    margin-right: 1rem;
    text-align: center;
    display: flex;
    width: 80%;
    height: 50rem;
    border-radius: 4rem;
    background-size: cover;
    cursor: pointer;
    transition: 0.2s;
}
.card-sale-carousel:hover {
    width: 83%;
    height: 52rem;
}

// Card Sale List

.card-sale-list {
    width: 70%;
    height: 20rem;
    border: black;
    border-style: solid;
    border-width: thin;
    text-align: center;
    margin-left: 25rem;
    margin-top: 5rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.card-sale-list:hover {
    width: 71%;

}
//Card Sale Image 
.card-sale-image {
    height: 17.5rem;
    width: 90%;
    margin-right: 3.3rem;
    margin-top: 0.2rem;
    transition: 0.5s;
}

.card-carousel-data {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 25rem;
    margin-top: -1rem;
    font-weight: 200;
}

// Publisher List Card
.card-publisher-list {
    width: 68%;
    height: 15rem;
    border: black;
    border-style: solid;
    border-width: thin;
    text-align: center;
    margin-left: 28rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    padding: 1rem;
    

}

//Publisher Card list Image 
.card-publisher-list-image {
    height: 10rem;
    width: 10rem;
    margin-right: 3.5rem;
    margin-top: 1.8rem;


}