.nav-bar-container{
    @include nav-bar-container(80%);
}
.admin-nav-bar-container{
    @include nav-bar-container(60%);
}
header{
    display: flex;
    justify-content: space-between;
}
.profile-photo{
    height: 45px;
    width: 45px;
    background-image: url("~@/assets/logoming.png");
    border-radius: 50%;
}