.nav-bar-container{
    width: 80%;
    text-align: center;
    padding: 0.8rem 1.2rem;
    margin-right: 11.6rem;
    margin-left: 11.6rem;
    margin-top: 1rem;
    
}
header{
    display: flex;
    justify-content: space-between;
}