#text {
    padding-top: 2rem;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #707070;
    font-size: 2rem;
}

.text-info {
    font-size: 1.3rem;
    text-size-adjust: inherit;
    width: 70%;
    text-align: center;
}

.bold_text {
    font-weight: 900;
}